@import '../../index.scss';
// .navbar {
//     background-image: url(../imagenes/background.jpg);
//     // background: linear-gradient(90deg, rgba(16,189,221,1) 5%, rgba(0,121,255,1) 70%);
//      background-repeat: no-repeat;
//      background-size: 100% 85%;
//      padding: 0,5rem 1rem;
//      display: grid;
//      grid-template-columns: auto 1fr;
     
     

    

 .me-auto {
     font-size: 25px;     
      align-items: center;
      justify-content: space-around;
     justify-content: space-between;
      margin-left: 455px;
  }
  .me-auto:hover{
      color:cyan;
      
      
  }
 
 

 