*
{
  .container{
      box-sizing: border-box;
       width: 50%;
       height: 45%;
      background-color:rgb(103, 175, 223);
      margin: 0;
      }  

    
}
.titulo{
    font-size:25px;
    color:aqua;
}
h2 {
  color: rgb(56, 141, 211);
}
