.register{
   
    height:calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    background-image: url(../../imagenes/playa.jpg);
    background-size: cover;
    font-size:25px;
    font-weight: 600;
   
    
}
.mail{
    color: #fff;
    font-size: 23px;
    margin-left:20px;
}
.password{
    color: #fff;
    font-size: 23px;
    margin-left:20px; 
}
.username{
    color: #fff;
    font-size: 23px;
    margin-left:20px; 
}

.registerTitle{
    font-size: 50px;
    color: #fff;
}
.registerForm{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
}
registerForm>label{
    margin: 10px 0;

}
.registerInput{
    padding:10px;
    background-color: rgb(223, 234, 240);
    border: none;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(71, 130, 238);
    border:none;
    color:#fff;
    border-radius:10px;
    padding: 10px;
}
.registerLoginButton{
background-color: rgb(114, 201, 241);
cursor: pointer;
border: none;
padding: 10px;
color:#fff;
border-radius: 10px;
margin-top: 20px;
}
.registerButton:hover{
    background-color: rgb(27, 64, 187);
}
.registerLoginButton:hover{
    background-color: aqua;
}


